body{
    background: url(./oppenheimer\ quimica.jpg) no-repeat center center fixed;
    background-size: cover; /*Css padrão*/
    -webkit-background-size: cover; /*Css safari e chrome*/
    -moz-background-size: cover; /*Css firefox*/
    -o-background-size: cover; /*Css Opera*/
  }